In [1]:
import tensorflow as tf 
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

from joblib import dump

In [2]:
data = pd.read_csv('output_readings/final_processed_data.csv')
data = data.drop(columns = 'Unnamed: 0')

In [3]:
data

,Age,Is_Male,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Valid_Patient
0,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,1,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
574,60,1,0.5,0.1,500,20,34,5.9,1.6,0.37,0
575,40,1,0.6,0.1,98,35,31,6.0,3.2,1.10,1
576,52,1,0.8,0.2,245,48,49,6.4,3.2,1.00,1
577,31,1,1.3,0.5,184,29,32,6.8,3.4,1.00,1
578,38,1,1.0,0.3,216,21,24,7.3,4.4,1.50,0

In [4]:
X = data.drop(columns = 'Valid_Patient')
y = data['Valid_Patient']

In [5]:
X

,Age,Is_Male,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90
1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74
2,62,1,7.3,4.1,490,60,68,7.0,3.3,0.89
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00
4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40
...,...,...,...,...,...,...,...,...,...,...
574,60,1,0.5,0.1,500,20,34,5.9,1.6,0.37
575,40,1,0.6,0.1,98,35,31,6.0,3.2,1.10
576,52,1,0.8,0.2,245,48,49,6.4,3.2,1.00
577,31,1,1.3,0.5,184,29,32,6.8,3.4,1.00
578,38,1,1.0,0.3,216,21,24,7.3,4.4,1.50

In [6]:
y

0      1
1      1
2      1
3      1
4      1
      ..
574    0
575    1
576    1
577    1
578    0
Name: Valid_Patient, Length: 579, dtype: int64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=101)

In [8]:
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

rfc_predict = rfc.predict(X_test)
rfc_score = accuracy_score(y_test, rfc_predict)
print(f'Accuracy Score: {round(rfc_score*100, 2)}%')
dump(rfc, 'rfc_liver.joblib')

Accuracy Score: 72.41%

['rfc_liver.joblib']

In [9]:
lr = LogisticRegression()
lr.fit(X_train, y_train)

lr_predict = lr.predict(X_test)
lr_score = accuracy_score(y_test, lr_predict)
print(f'Accuracy Score: {round(lr_score*100, 2)}%')
dump(lr, 'lr_liver.joblib')

Accuracy Score: 67.24%
C:\Users\sandh_mq54ena\.conda\envs\env0\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

['lr_liver.joblib']

In [10]:
lr.coef_

array([[ 0.01683132, -0.00342152, -0.02159559,  0.6036238 ,  0.00081658,
         0.01269088,  0.00518741,  0.12633268, -0.4056317 , -0.09496327]])